

        <div class="sidebar-navigation hidde-sm hidden-xs">
            <div class="logo">
                <a href="#"><img src="app/styles/images/SGH-logo.png" width="90%"></a>
            <div><img src="app/styles/images/humanface.jpg" width="100%" alt="WellKom"></div>
            </div>
            <nav>
                <ul>
                    <li>
                        <a href="#top">
                            <span class="rect"></span>
                            <span class="circle"></span>
                             Home
                        </a>
                    </li>
                    <li>
                        <a href="#featured">
                            <span class="rect"></span>
                            <span class="circle"></span>
                            Because It Won't Make Any Difference
                        </a>
                    </li>
                    <li>
                        <a href="#p3">
                            <span class="rect"></span>
                            <span class="circle"></span>
                        Take Control Over Your Life
                        </a>
                    </li>
                    <li>
                        <a href="#v3">
                            <span class="rect"></span>
                            <span class="circle"></span>
                            When All Else Fails
                        </a>
                    </li>
                    <li>
                        <a href="#p4">
                            <span class="rect"></span>
                            <span class="circle"></span>
                            Personality and Goals
                        </a>
                    </li>
                    <li>
                       <a href="#v4">
                        <span class="rect"></span>
                        <span class="circle"></span>
                        Personal Notes
                       </a>
                    </li>
                    <li>
                        <a href="#thankyou">
                            <span class="rect"></span>
                            <span class="circle"></span>
                            Thank you!
                        </a>
                    </li>
                </ul>
            </nav>
        </div>